.gtkm{
	width: 100%;
}
.gtkm ul{
  color: white;
  padding-left: 25vw;
  list-style: none;
}
.gtkm b{
  color: #e82a2a;
}
.gtkm i{
  color: #64eaf5;
}
.gtkm a{
  color: #d382ff;
}
.gtkm a:hover{
  color: #9612e0;
}
.gtkm h1{
    padding-top: 12.5 %;
    position: relative; 
    font-family: 'Alegreya Sans SC'; 
    text-align: center;
    font-size:2.5vw;
    color: white;
}
.gtkm li:before{
	content: '⟹';
}
.gtkm li{
  height: 3.0vh;
  font-family: 'Alegreya Sans SC';
  font-size: 2.0em;
}
.gtkm p{
  padding-top: 5vh;
  font-family: 'Alegreya Sans SC';
  font-size: 1.5em;
  text-align: justify;
  padding-left: 12vw;
  padding-right: 12vw;
}
